<header class="container">
  <h1>Angular Testing</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae eveniet non
    natus minus! Ullam sit delectus aliquam est beatae dolores consectetur sed
    doloremque sequi. Maxime animi nemo quam voluptatem aliquid?
  </p>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-preview">Pico Preview</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
